.search {
    margin: 0 auto;
    width: 600px;
}

.main {
    display: flex;
    margin: 0;
    padding: 0 50px;
}

.title {
    margin-bottom: 50px;
    text-align: center;
}

.input {
    border: 0;
    box-shadow: none;
    line-height: 40px;
    height: 40px;
    padding: 0 15px;
    width: 100%;
}

.users {
    /*flex: 1;*/
}

.user-info {
    flex: 1;
}

.users-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.user-small {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    list-style: none;
    display: flex;
    margin: 10px;
    width: calc(25% - 10px);
    cursor: pointer;
}

.user-small img {
        height: 120px;
        max-width: 100%;
}

.button {
    background-clip: #fff;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    line-height: 38px;
    box-shadow: none;
    padding: 0 15px;
}

.block-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.block-list-item {
    list-style: none;
    padding: 0;
    margin: 5px;
}

